
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Success</title>
</head>
<body>
    <div> 
        <h2>Employee Registration has been created successfully</h2>
        <hr/>
        @Html.ActionLink("Login Here", "Login")
        &nbsp;
        @Html.ActionLink("Add New Employee","Register")

    </div>
</body>
</html>
